#encabezado {
    display: block;
    background: rgb(45,44,18);
    background: linear-gradient(180deg, rgba(45,44,18,1) 0%, rgba(1,58,120,1) 100%);
}

h1 h2{
    font-size: 20px;
    margin: 20px 0px 20px 25px; 
}
